body {
    font-family: 'Roboto', sans-serif;
    background-color: #080c7e;
}
div.header {
    padding: 0 15px;
    background-color: #080c7e;
    color: white;
}
main {
  margin-top: 64px;
  color: white;
}
nav {
    display: table;
    background-color: white;
    box-shadow: 0 1px 5px #080c7e;
    height: 64px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav div.content {
    height: 64px;
    margin: auto;
    max-width: 800px;
    text-align: left;
}
nav div.menu {
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    width: 30px;
    height: 24px;
}
nav div.menu span {
    position: absolute;
    left: 0;
    border-top: 3px solid #080c7e;
    width: 100%;
    transition: 0.5s;
}
nav div.menu span.top {
    top: 0;
}
nav div.menu span.middle {
    top: 10px;
}
nav div.menu span.bottom {
    top: 20px;
}
nav div.menu span.click.top {
    top: 10px;
    transform: rotate(45deg);
    transition: 0.5s 0.1s;
}
nav div.menu span.click.middle {
    opacity: 0;
}
nav div.menu span.click.bottom {
    top: 10px;
    transform: rotate(-405deg);
    transition: 0.5s 0.1s;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: block;
    text-transform: uppercase;
    vertical-align: middle;
}
nav ul li a {
    color: #080c7e;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
}
nav img {
    margin-left: 20px;
    padding: 14px 0;
    height: 34px;
}
main {
  text-align: center;
  padding-top: 5%;
}
main img {
  width: 300px;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #0a157c;
    color: #0a157c;
    font-size: 0.9em;
    margin-top: 20px;
    text-align: center;
}
footer a {
    color: #0a157c;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer img {
    height: 32px;
}
@media screen and (min-width: 600px) {
    nav div.menu {
        display: none;
    }
    nav ul {
        display: table;
        float: right;
        height: 64px;
        padding-right: 20px;
    }
    nav ul li {
        display: table-cell;
    }
    nav ul li a {
        margin-left: 20px;
    }
    nav ul li a:hover {
        text-decoration: underline;
    }
}
@media screen and (max-width: 599px) {
    nav div.content {
        background-color: white;
        z-index: 2;
    }
    nav ul {
        background-color: white;
        box-shadow: 0 1px 5px #080c7e;
        position: fixed;
        top: -200px;
        width: 100%;
        transition: 0.5s;
        z-index: -1;
    }
    nav ul.visible {
        top: 63px;
    }
    nav ul li {
        text-align: center;
    }
    nav ul li a {
        display: block;
        font-size: 1.3em;
        padding: 15px;
    }
    nav ul li a:hover {
        color: white;
        background-color: #080c7e;
    }
}
